#principal {
    background: var(--azul) url("../img/cover-headerline.png") no-repeat;
    padding-bottom: 2rem;
}

#principal h1 {
    margin: 0;
    color: var(--branco);
    padding: 3rem;
}

#principal .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    max-width: 860px;
    width: 100%;
}


.card:not(:first-child) {
    margin-top: 2rem;
}
