/* Estilos Especifícos da Tela de Login */

main {
    padding: 3rem 0;
}

h1 {
    text-align: center;
    font-weight: bold;
    color: var(--azul);
    margin-bottom: 3rem;
}

main form ul {
    display: flex;
    justify-content: space-around;
}

main ul li {
    list-style: none;
    margin-left: 2rem;
}

main ul li a {
    display: inline-block;
    min-width: 150px;
    text-decoration: none;
    margin-bottom: 1rem;
}

main ul li a:hover {
    text-decoration: underline;
}

main ul li a:visited {
    color: var(--azul);
}

main ul li a:not(:first-child) {
    margin-left: 1rem;
}

main form {
    max-width: 400px;
    margin: auto;
    text-align: center;
}

main form input {
    padding: 2rem 1rem 1rem;
    margin: 1rem;
    border-radius: 11px;
    border: 1px solid var(--cinza);
    width: 100%;
}

main form input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
    margin-right: .5rem;
}
