/* Estilos Especifícos da Tela de Login */

main {
    padding: 3rem 0;
}

h1 {
    text-align: center;
    font-weight: bold;
    color: var(--azul);
    margin-bottom: 3rem;
}

main form ul {
    display: flex;
    justify-content: space-between;
}

main ul:first-child {
    padding: 0;
}

main ul li {
    list-style: none;
}

main ul li a {
    display: inline-block;
    min-width: 150px;
    text-decoration: none;
    margin-bottom: 1rem;
}

main ul li a:hover {
    text-decoration: underline;
}

main ul li a:visited {
    color: var(--azul);
}

main ul li a:not(:first-child) {
    margin-left: 1rem;
}

main form {
    max-width: 400px;
    margin: auto;
    text-align: center;
}

main form input[type="text"],
main form input[type="email"],
main form input[type="password"] {
    padding: 2rem 1rem 1rem;
    margin: 1rem 0;
    border-radius: 11px;
    border: 1px solid var(--cinza);
    width: 100%;
}

main form input[type="checkbox"] {
    margin: 0 1rem 0 0;
    padding: 0;
    height: auto;
    width: auto;
    display: inline-block;
}

main form input[type="submit"] {
    width: 100%;
}

.input-fatec-group {
    position: relative;
}

.input-fatec-group label {
    position: absolute;
    margin: 1.6rem 0 0px 1rem;
    font-weight: bold;
    text-transform: lowercase;
}

.input-fatec-group label::after {
    content: ": ";
}

.unlabeled-group {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
