/* Estilos Especifícos da Tela de Login */
.botao
{
    border: solid 1px #084d6e;
    color: #084d6e;
    padding: 16px 32px 16px 32px;
    text-decoration: none;
    height: 40px;
    width: 122px;
    left: 589px;
    top: 432px;
    border-radius: 25px;
    background-color: #084d6e;
}


