
.cps-logo {
    background-color: var(--azul);
    padding: 1rem;
}

.cps-logo img {
    object-position: center;
    object-fit: contain;
    width: 100%;
    max-width: 450px;
}

.cps-copy {
    background-color: var(--branco);
    color: var(--preto);
    font-size: 0.8rem;
    padding: 2rem;
    text-align: center;
    margin: 0;
}
