@import url("https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css");

:root {
    --preto: #000;
    --branco: #fff;
    --vermelho: #B11116;
    --azul: #3A5461;
    --cinza: #EBEFF1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'Verdana', sans-serif;
    color: var(--preto);
}

body {
    background: var(--branco);
    color: var(--preto);
}

.btn {
    background-color: var(--branco);
    border: 1px solid var(--azul);
    padding: 1rem;
    border-radius: 11px;
}

.btn.btn-primary {
    background-color: var(--azul);
    border: none;
    color: var(--branco);
}

.input-group {
    position: relative;
}

.input-group label {
    position: absolute;
    padding: 1.6rem 0 0 2rem;
    font-weight: bold;
    text-transform: lowercase;
}

.input-group label::after {
    content: ": ";
}

.unlabeled-group {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 0 auto;
}
