.headerbar {
    background-color: var(--azul);
    background-image: url(../../img/cover-headerline.png);
    min-height: 380px;
}

.headerbar h1 {
    text-align: center;
    margin: 0;
    padding-top: 3rem;
    color: var(--branco);
    font-weight: 400;
    line-height: 58px;
    font-style: normal;
}
